/OUT
/build

#.gitignore文件是 Git 用来指定哪些文件或目录不需要被纳入版本控制的工具。它也可以用于在代码提交格式化时忽略指定类型的文件。在这个文件中，可以使用通配符和具体的文件名来指定要忽略的文件。

#通配符
# *：代表任意多个字符。例如，*.txt表示忽略所有扩展名为.txt的文件。如果想要忽略所有文本文件，就可以使用这个通配符模式。
# ?：代表单个字符。例如，file?.txt会忽略file1.txt、file2.txt等文件名只有一个字符不同的文件。
# **：用于匹配任意目录下的文件。例如，**/logs/*.log可以忽略所有目录下logs目录中的.log文件。
# /docs会忽略根目录下的docs目录及其内部的所有文件